<nav class="navbar navbar navbar-dark bg-dark justify-content-between">
    <a href="/employee/list/"class="navbar-brand"  style="color: white;">HOME</a>
  </nav>
  
{% extends "employee_register/base.html" %}
{% block content %} 
<div class="display-4">Editar NCM</div>
<hr class="my-4">
<div class="col-xs-6">
  <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Código</td>
            <td>Alíquota (%)</td>
            <td>ICMS (%)</td>
            <td><a href="{% url 'new_ncm' %}" class="btn btn-outline-secondary btn-sm mr-2">
              <i class="fas fa-plus"></i> Incluir NCM
          </a></td>
        </tr>
    
    <tbody>
        {% for ncm in ncm %}
            <tr>
                <td>{{ncm.codigo}}</td>
                <td>{{ncm.aliquota}}</td>
                <td>{{ncm.icms}}</td>
                <td><a href="{% url 'edit_ncm' ncm.id %}" class="btn text-secondary px-0">
                  <i class="far fa-edit fa-lg"></i>
              </a></td>
            </tr>
            
          </tbody>
          {% endfor %}
        </table>
        
  </div>
</div>
{% endblock content %}